@import "../blocks/texts/texts.scss";
@import "../blocks/colors/colors.scss";
@import "../blocks/colors-texts/colors-texts.scss";

.lock {
  width: 200px;
  height: 200px;
  border: 5;
  background-color: green;
}